<div class="row">
  <div class="col-md-1"></div>
    <h2 class="text-primary">Coporate Strategy</h2>
  </div>
</div><br/>

<div class="col-md-6 text-left" ng-controller="CommunityRelationsController">
  <p>{{paragraph1}}</p>
  <p>{{paragraph2}}</p><br/>
  <p>{{paragraph3}}</p><br/>
</div>

<div ng-controller="BuildingImageController">
  <img src="{{image1}}" alt="Tremont Capital Realty" class="img-thumbnail">
</div>