
<div class="row">
  <div class="container">
    <div class="col-md-1">
      <h2 class="text-primary">History</h2>
    </div>
  </div>
</div><br/>

<div class="row">
<div class="container">
  <div class="col-md-9 text-left" ng-controller="HistoryController">
    <p>{{paragraph1}}</p>
    <p>{{paragraph2}}</p><br/>
    <p>{{paragraph3}}</p><br/>
  </div>
</div>
</div>