<div class="text-center text-primary">
    <h2>Middle Market Commercial Real Estate Capital Specialists</h2>
</div><br/>
<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p><strong>Tremont Realty Capital, LLC</strong> is an SEC Registered Investment Advisor that focuses on commercial real estate investments and advisory services. We are headquartered in Boston with additional offices in New York, Chicago, Newport Beach, CA, Washington, DC and Hartford, CT.</p></div></div>
  <div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>Tremont specializes in middle market Direct Real Estate Lending / Investing and Asset Management.  Our preferred target investment is in gap capital (mezzanine debt, B Notes and preferred equity).  Since inception, Tremont has managed debt and equity portfolios in a variety of commercial real estate classes across the United States.  These investment portfolios represent a portion of more than $776 million in total real estate value.</p></div></div>
  <div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p>Tremont also provides Real Estate Investment Banking services for select clients. Engagements have included debt and equity capital raises, consulting and asset management. Tremont has raised over $3.5 billion for real estate owners and sponsors.</p></div></div>

  <div class="row text-center">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div ng-controller="BuildingController">
          <img ng-src="{{image1}}">
          <img ng-src="{{image2}}">
          <img ng-src="{{image3}}">
        </div>
      </div>
  </div><br/>
</div>