  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
      <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <div ng-controller="BuildingImageController">
          <img ng-src="{{building1}}"/>
        </div>
      </div>
      <div class="item active">
        <div ng-controller="BuildingImageController">
          <img ng-src="{{building2}}"/>
         </div>
      </div>
      <div class="item">
        <div ng-controller="BuildingImageController">
          <img ng-src="{{building3}}"/>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <div class="text-center text-primary">
        <h2>Middle Market Commercial Real Estate Capital Specialists</h2>
    </div><br/>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div ng-controller="WordContentController">
        <p>{{home_content1}}</p>
        <p>{{home_content2}}</p>
        <p>{{home_content3}}</p>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div ng-controller="BuildingImageController">
        <img ng-src="{{building1}}"/>
        <img ng-src="{{building2}}"/>
        <img ng-src="{{building3}}"/>
      </div>
    </div>
  </div><br/>

