<div class="text-center text-primary">
    <h2>Middle Market Commercial Real Estate Capital Specialists</h2>
</div><br/>

<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div ng-controller="WordContentController">
      <p>{{home_content1}}</p>
      <p>{{home_content2}}</p>
      <p>{{home_content3}}</p>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div ng-controller="BuildingImageController">
      <img ng-src="{{building1}}"/>
      <img ng-src="{{building2}}"/>
      <img ng-src="{{building3}}"/>
    </div>
  </div>
</div><br/>

