<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6 text-left" ng-controller="WordContentController">
      <h2 class="text-primary">Coporate Strategy</h2>
      <div ng-controller="WordContentController">
        <p>{{overview1}}</p>
      </div>
  </div>
</div><br/>


<div class="row text-left">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4 class="text-primary">Client Service – </h4>
      <div ng-controller="WordContentController">
        <p>{{overview2}}</p>
      </div>
    <h4 class="text-primary">Portfolio Management – </h4>
      <div ng-controller="WordContentController">
        <p>{{overview3}}</p>
      </div>
    <h4 class="text-primary">Advisory Services – </h4>
      <div ng-controller="WordContentController">
        <p>{{overview4}}</p>
      </div>
  </div>
</div>

